@import "../../themes/ionic.globals";

// iOS Popover
// --------------------------------------------------

/// @prop - Width of the popover content
$popover-ios-width:                     200px !default;

/// @prop - Min width of the popover content
$popover-ios-min-width:                 0 !default;

/// @prop - Minimum height of the popover content
$popover-ios-min-height:                0 !default;

/// @prop - Maximum height of the popover content
$popover-ios-max-height:                90% !default;

/// @prop - Border radius of the popover content
$popover-ios-border-radius:             10px !default;

/// @prop - Text color of the popover content
$popover-ios-text-color:                $text-ios-color !default;

/// @prop - Background of the popover content
$popover-ios-background:                $background-ios-color !default;

/// @prop - Background of the popover arrow
$popover-ios-arrow-background:          $popover-ios-background !default;


body.ios {

  .popover .popover-content {
    width: $popover-ios-width;
    min-width: $popover-ios-min-width;
    min-height: $popover-ios-min-height;
    max-height: $popover-ios-max-height;

    border-radius: $popover-ios-border-radius;
    color: $popover-ios-text-color;
    background: $popover-ios-background;

    opacity: 0;

    top: $header-height-ios;
    right: 2px;
  }


  // Popover Arrow
  // -----------------------------------------


  .popover {
    &:before {
      position: absolute;

      top: $header-height-ios - 6px;
      right: 12px;

      z-index: $z-index-overlay-wrapper;

      width: 14px;
      height: 14px;

      border-radius: 3px;
      background-color: $popover-ios-arrow-background; //
      content: " ";
      transform: rotate(45deg);
    }

  }

}
