@import "../../themes/ionic.globals.md";

body.md {

  // Material Design Content
  // --------------------------------------------------

  .content {
    color: $text-md-color;
    background-color: $background-md-color;
  }

  .content hr {
    background-color: rgba(0, 0, 0, .08);
  }

}


// Material Design Content Padding
// --------------------------------------------------

@include content-padding('md', $content-md-padding);


// Material Design Content Margin
// --------------------------------------------------

@include content-margin('md', $content-md-margin);
