@import "../../themes/ionic.globals";

// Loading Indicator
// --------------------------------------------------

.ion-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  height: 0;
  overflow: hidden;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;

  .ion-backdrop {
    opacity: 0;

    transition: opacity .2s ease-in-out;
  }

  &.active {
    height: 100%;
    overflow: auto;

    .ion-backdrop {
      opacity: .3;
    }

    .loading-wrapper {
      opacity: 0.99;
      transform: scale(1) translateZ(0px);
      will-change: opacity, transform, -webkit-transform;
    }
  }

}

.loading-wrapper {
  z-index: $z-index-overlay-wrapper;
  display: flex;

  align-items: center;

  opacity: 0;
  transform: scale(1.25);
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}
